body {
    margin: 0;
    background-color: #202020;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.6vw;
    height: 0.6vw;
    background: linear-gradient(#dd41f6,#4cdbff);
}

::-webkit-scrollbar-thumb {
    background-color: #404040;
}

* {
    box-sizing: border-box;
}

#navbar {
    display: flex; /* Agregamos Flexbox para distribución horizontal */
    justify-content: space-between; /* Espaciado igual entre elementos */
    align-items: start; /* Centra verticalmente los elementos */
    width: 100%;
    position: fixed;
}

#mini-menu {
    flex: 0 0 auto; /* Evita que el mini-menu se expanda */
    margin: 10px;
}

.navbutton {
    flex: 1; /* Ocupa todo el espacio disponible excepto el mini-menu */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    margin-top: 10px;
    height: 40px;
}
.navbutton:hover {
    flex: 1; /* Ocupa todo el espacio disponible excepto el mini-menu */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    height: 40px;
    color: linear-gradient(#dd41f6,#4cdbff);
}

.navbutton a {
    color: #ffffff;
    padding: 10px 170px;
    text-decoration: none;
}

#logo {
    border-radius: 7px;
    background-color: #292929;
    height: 70px;
    margin-bottom: 6px;
}

#logo:hover {
    border-radius: 7px;
    background-color: #353535;
    height: 70px;
    margin-bottom: 6px;
}

#logo img {
    padding: 10px;
    height: 100%;
}

#up {
    float: left;
    border-radius: 7px;
    background-color: #292929;
    width: 49%;
    height: fit-content;
}

#up:hover {
    float: left;
    border-radius: 7px;
    background-color: #353535;
    width: 49%;
    height: fit-content;
}

#down {
    float: right;
    border-radius: 7px;
    background-color: #292929;
    width: 49%;
    height: fit-content;
}

#down:hover {
    float: right;
    border-radius: 7px;
    background-color: #353535;
    width: 49%;
    height: fit-content;
}

#up a, #down a {
    text-decoration: none;
    padding: 40%;
    color: #ffffff;
}

main {
    margin-bottom: 70px; /* Ajusta este valor según tus necesidades */
}

.presentation {
    text-align: center;
}

.presentation img {
    width: 18%;
    margin-bottom: 20px;
    margin-top: 80px;
}

.presentation p {
    width: 20%;
    margin: 0 auto;
    text-align: justify;
}

.profile-picture {
    border-radius: 50%;
}

footer {
    background-color: #292929;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}