body {
    margin: 0;
    background-color: #202020;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: #292929;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

header img {
    height: 50px;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav li a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
}

main {
    margin-bottom: 70px;
    height: 3000px;
}

/* Foto y presentación */

.presentation {
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
}

/* Foto y presentación */

footer {
    background-color: #292929;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
