body {
    margin: 0;
    background-color: #202020;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.6vw;
    height: 0.6vw;
    background: linear-gradient(#dd41f6,#4cdbff);
}

::-webkit-scrollbar-thumb {
    background-color: #404040;
}

* {
    box-sizing: border-box;
}

#mini-menu {
    margin: 10px;
    position: sticky;
    top: 10px;
    height: 94px;
    width: 165px;
}

#logo {
    float: left;
    border-radius: 7px;
    background-color: #292929;
    height: 70px;
}

#logo img {
    padding: 10px;
    height: 100%;
}

#up {
    border-radius: 7px;
    background-color: #292929;
    width: 80px;
    height: fit-content;
    position: absolute;
    bottom: 0;
    right: 51%;
}

#down {
    border-radius: 7px;
    background-color: #292929;
    width: 80px;
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 51%;
}

#up a, #down a {
    text-decoration: none;
    padding: 0 32px;
    color: #ffffff;
}

header {
    background-color: #292929;
    padding: 10px;
    display: flex;
    align-items: center;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    margin-bottom: 70px;
}

.presentation {
    text-align: center;
}

.presentation img {
    width: 18%;
    margin-bottom: 20px;
}

.presentation p {
    width: 20%;
    margin: 0 auto;
    text-align: justify;
}

.profile-picture {
    border-radius: 50%;
}

footer {
    background-color: #292929;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}